.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 

}
.flat {
  background-color: #ffffff;
  height: 75%;
  width: 2%;
  border-radius: 5px;
  position: absolute;
  color: #000000;
}
.flat:hover {
  background-color: blue;  
}

.sharp {
  background-color: #000000;
  position: absolute;
  height: 40%;
  width: 1.5%;
  border-radius: 5px;
  z-index: 3;
  color: #ffffff;
}
.board {
  position: absolute;
  overflow: hidden;
  top: 40%;
  left: 0%;
  width: 100%;
  height: 55%;
}
.octave {
  display: flex;
  justify-content: center;
}
#features {
  height: 100%;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.options {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  align-items: center;
}
.topAction {
  display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#roomName {
  font-size: 30px;
  text-decoration: underline;
}

#roomHash {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 23px;
}

#users{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userList{
  font-size: 30px;
  text-decoration: underline;
}

#noteDisplay {
  font-size: 23px;
  /* text-decoration: underline; */
}

#noteHeading {
  text-decoration: underline;
  font-size: 30px;
}

#lastNote {
  display: flex;
  flex-direction: column;
  align-items: center;
}
<<<<<<< HEAD
=======
.note85 {
  left: 97.5%
}
.note84 {
  left: 95.5%
}
.note83 {
  left: 94.8%
}
.note82 {
  left: 93.5%
}
.note81 {
  left: 92.8%
}
.note80 {
  left: 91.5%
}
.note79 {
  left: 90.8%
}
.note78 {
  left: 89.5%
}
.note77 {
  left: 87.5%
}
.note76 {
  left: 86.8%
}
.note75 {
  left: 85.5%
}
.note74 {
  left: 84.8%
}
.note73 {
  left: 83.5%
}
.note72 {
  left: 81.5%
}
.note71 {
  left: 80.8%
}
.note70 {
  left: 79.5%
}
.note69 {
  left: 78.8%
}
.note68 {
  left: 77.5%
}
.note67 {
  left: 76.8%
}
.note66 {
  left: 75.5%
}
.note65 {
  left: 73.5%
}
.note64 {
  left: 72.8%
}
.note63 {
  left: 71.5%
}
.note62 {
  left: 70.8%
}
.note61 {
  left: 69.5%
}
.note60 {
  left: 67.5%
}
.note59 {
  left: 66.8%
}
.note58 {
  left: 65.5%
}
.note57 {
  left: 64.8%
}
.note56 {
  left: 63.5%
}
.note55 {
  left: 62.8%
}
.note54 {
  left: 61.5%
}
.note53 {
  left: 59.5%
}
.note52 {
  left: 58.8%
}
.note51 {
  left: 57.5%
}
.note50 {
  left: 56.8%
}
.note49 {
  left: 55.5%
}




/* .note48 {
  left: 83.5%
}
.note47 {
  left: 81.5%
}
.note46 {
  left: 80.8%
}
.note45 {
  left: 79.5%
}
.note44 {
  left: 78.8%
}
.note43 {
  left: 77.5%
}
.note42 {
  left: 76.8%
}
.note41 {
  left: 75.5%
}
.note40 {
  left: 73.5%
}
.note39 {
  left: 72.8%
}
.note38 {
  left: 71.5%
}
.note37 {
  left: 70.8%
}
.note36 {
  left: 69.5%
}
.note35 {
  left: 83.5%
} */
>>>>>>> 735e7c8 (fixed keyboard)
